# *__Pandas__

- 매우 유용하게 사용되는 패키지
- 엑셀과 같음
- NumPy 기반에서 개발되었다

### __pandas 자료 구조__

#### __1. Series__

- Series는 일련의 객체를 담을 수 있는 1차원 배열 같은 자료 구조(어떤 NumPy 자료형이라도 담을 수 있다)
- 색인이라고 하는 배열의 데이터에 연관된 이름을 가지고 있다.

In [5]:
from pandas import Series, DataFrame
import pandas as pd

from pandas import Series 의 경우 Series를 바로 부를 수 있다 <br>
이는 import pandas.Series as Series와 같은 역할을 한다

In [ ]:
obj = Series([4, 7, -5, 3])
obj

- 왼쪽 : 인덱스
- 오른쪽 : 값

In [ ]:
# Error! 배열이나 사전형으로 넘겨야 됨
obj2 = Series(4,7)

- 메서드
    - values
    - index

In [ ]:
obj.values

In [ ]:
obj.index

index를 사용자가 정의할 수 있다

In [ ]:
obj2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [ ]:
obj2

In [ ]:
obj2.index

__인덱스 이름으로 인덱싱이 가능하다__

In [ ]:
obj2['a']

In [ ]:
obj2['d'] = 6

In [ ]:
obj2[['c', 'a', 'd']]

In [ ]:
obj2

__numpy에서 사용했던 인덱싱 방법을 사용할 수 있다__

In [ ]:
obj2[obj2 > 0]

In [ ]:
obj2 * 2

In [ ]:
import numpy as np
np.exp(obj2)

In [ ]:
'b' in obj2

In [ ]:
'e' in obj2

- 사전 정의후 Series형으로 변환

In [ ]:
sdata = {'Ohio': 35000,
         'Texas': 71000,
         'Oregon': 16000,
         'Utah': 5000}
sdata

In [ ]:
obj3 = Series(sdata)

In [ ]:
obj3

In [ ]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [ ]:
obj4 = Series(sdata, index=states)

In [ ]:
obj4

#### __NaN(not a number)이란?__

    - pandas에서는 누락된 값 혹은 NA 값으로 취급
    - pandas의 isnull과 notnull 메서드는 누락된 함수를 찾을 때 사용
    - NULL과 같은 개념이다

In [ ]:
pd.isnull(obj4)

In [ ]:
pd.notnull(obj4)

 - isnull과 notnull 메서드는 인스턴스에서 바로 사용할 수 있다

In [ ]:
obj4.isnull()

In [ ]:
obj4.notnull()

__Series끼리 연산이 가능하다__

In [ ]:
print(obj3, type(obj3))

In [ ]:
print(obj4, type(obj4))

In [ ]:
obj3 + obj4

__Series는 name 메서드를 가진다__

In [ ]:
obj4.name = 'population'

In [ ]:
obj4.index.name = 'state'

In [ ]:
obj4

In [ ]:
obj

In [ ]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']

In [ ]:
obj

In [ ]:
obj.index = ['Bob', 'Steve', 'Jeff'] # index는 값의 개수와 동일한 수여야 한다

## __DataFrame__

- python의 엑셀
- 다양한 종류의 자료형을 포함할 수 있다
- DataFrame은 로우와 컬럼에 대한 인덱스 존재.

__DataFrame 객체 생성__

1. 사전 이용
    - 방법은 정말 많다

#### DataFrame 생성자에서 사용 가능한 입력 데이터

형 | 설명
--- | ---
ndarray, list, tuple | 데이터를 담고 있는 행렬. 선택적으로 로우와 칼럼의 이름을 전달할 수 있다.
dictionary | 사전의 모든 항목은 같은 길이를 가져야 하며, 각 항목의 내용이 DataFrame의 칼럼이 된다.
Series | Series의 각 값이 컬럼이 된다. 명시적으로 색인을 넘겨주지 않으면 각 Series의 색인이 하나로 합쳐져서 형의 색인이 된다.

In [7]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

In [ ]:
frame = DataFrame(data)

In [ ]:
print(frame, type(frame))

In [ ]:
# 원하는 순서대로 Column 지정 가능
# SQL에서 SELECT year, state pop FROM data 와 비슷하게 컬럼명 순서를 지정할 수 있다.
DataFrame(data, columns=['year', 'state', 'pop'])

In [8]:
frame2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                   index=['one', 'two', 'three', 'four', 'five'])

In [ ]:
frame2

In [ ]:
frame2.columns

In [ ]:
type(frame2)

__DataFrame 컬럼 접근 방법__

1. 사전 형식의 표기법으로 접근(frame2['state'])
1. 속성 형식으로 접근(frame2.state)

In [ ]:
frame2['state']

In [ ]:
print(type(frame2['state']))

In [ ]:
frame2[['state']]

In [ ]:
print(type(frame2[['state']]))

In [ ]:
frame2.state

In [ ]:
frame2.year

__DataFrame 인덱싱 (로우 접근) 방법__

1. loc - 이름 기반 인덱싱
2. iloc - 위치 기반 인덱싱
- 슬라이싱도 물론 가능합니다

In [ ]:
frame2

In [ ]:
frame2.loc['three']

In [ ]:
frame2.loc[['one', 'three'], :]

In [ ]:
# error. iloc는 위치 기반 인덱싱 메서드이다
frame2.iloc['year']

In [ ]:
frame2.iloc[2]

In [9]:
frame2.iloc[[1, 2, 4], [0, 2]]

       year  pop
two    2001  1.7
three  2002  3.6
five   2002  2.9

In [14]:
frame2.iloc[1:3, [2]]

       pop
two    1.7
three  3.6

In [16]:
frame2.iloc[1:3, 1:3]

      state  pop
two    Ohio  1.7
three  Ohio  3.6

__boolean으로 인덱싱하기__

In [18]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN

In [21]:
frame2['pop'] > 2

one      False
two      False
three     True
four      True
five      True
Name: pop, dtype: bool

In [22]:
frame2[frame2['pop'] > 2]

       year   state  pop debt
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN

__새로운 컬럼 생성__

- 스칼라 값이나 배열의 값 대입 가능

In [ ]:
frame2

In [ ]:
frame2['debt'] = 16.5

In [ ]:
frame2

In [ ]:
import numpy as np
frame2['debt'] = np.arange(5.)

In [ ]:
frame2

In [ ]:
# Length of values does not match length of index
frame2['debt'] = np.arange(10)

- 리스트나 배열을 칼럼에 대입할 때는 대입하려는 값의 길이가 DataFrame의 크기와 같아야 한다.
- Series를 대입하면 DataFrame의 색인에 따라 값이 대입되며 없는 색인에는 값이 대입되지 않는다.

In [ ]:
val = Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])

In [ ]:
val

In [ ]:
type(val)

In [ ]:
frame2['debt'] = val

In [ ]:
frame2

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio'

In [ ]:
frame2

__column은 del 을 통하여 삭제할 수 있다__

In [ ]:
del frame2['eastern']

In [ ]:
frame2.columns

In [ ]:
frame2

__index 에도 접근이 가능하다__

In [ ]:
frame2.index

하지만 삭제는 불가능하다

In [ ]:
del frame2['one']

In [ ]:
frame2.reset_index()

In [ ]:
frame2

In [ ]:
frame2.set_index([[10, 20, 30, 40, 50]])

__중첩된 사전을 이용해서 데이터 생성__

In [ ]:
pop = {'Nevada': {2001: 2.4,
                  2002: 2.9},
       'Ohio': {2000: 1.5,
                2001: 1.7,
                2002: 3.6}}

In [ ]:
pop

In [ ]:
type(pop)

In [ ]:
frame3 = DataFrame(pop)

In [ ]:
frame3

__로우, 컬럼 전치__ <br>
dataframe.T를 통하여 축 변경이 가능하다

In [ ]:
frame3.T

__데이터프레임 정렬하기__
   - sort_index : 축 기준으로 정렬하기
   - sort_values : 값 기준으로 정렬하기

In [ ]:
dates = pd.date_range('20190101', periods=6)

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [ ]:
df

In [ ]:
df.sort_index(axis=1, ascending=False)

In [ ]:
df.sort_index(axis=0, ascending=True)

In [ ]:
df.sort_values(by='B')

In [ ]:
df.sort_values(by='B', ascending=False)