### __인덱싱과 슬라이싱__

list 복습

In [2]:
L = [1, 2, 3, 4, 5]
print(L)

[1, 2, 3, 4, 5]

In [10]:
L[2, 3, 4] # 리스트는 멀티 인덱싱이 불가능하다

TypeError: list indices must be integers or slices, not tuple

In [78]:
L_slice = L[2:5]
print(L_slice)
print(L_slice[0])

[3, 4, 5]
3

In [79]:
L_slice[0] = -9999999

In [80]:
L_slice

[-9999999, 4, 5]

In [1]:
L_slice[:] = 20

NameError: name 'L_slice' is not defined

In [83]:
print(L)
print(L_slice)

[1, 2, 3, 4, 5]
[-9999999, 4, 5]

__Python list는 브로드 캐스팅이 안 되지만, array는 가능하다__

In [5]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
arr

array([1, 2, 3, 4, 5])

In [8]:
arr[[0, 1, 4]]

array([1, 2, 5])

In [85]:
arr_slice = arr[2:5]
print(arr_slice)
print(arr_slice[0])

[3 4 5]
3

In [86]:
arr_slice[0] = 9999
arr_slice

array([9999,    4,    5])

In [88]:
arr_slice[:] = 20

In [89]:
arr_slice

array([20, 20, 20])

In [90]:
print(arr)
print(arr_slice)

[ 1  2 20 20 20]
[20 20 20]

또한 리스트와는 다르게 슬라이싱 값을 변화시키면 원래 array의 값도 변화한다

#### __다차원 array 인덱싱 하기__

In [93]:
arr = np.array([[0, 1, 2, 3],
                [4, 5, 6, 7],
                [8, 9 , 10, 11]])
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [94]:
arr.shape

(3, 4)

In [95]:
arr[0]

array([0, 1, 2, 3])

In [96]:
arr[1]

array([4, 5, 6, 7])

In [98]:
arr[0][0]

0

In [106]:
arr[1][1]

5

위의 방식을 하나의 대괄호를 사용하여 표현한다면 아래와 같다

In [105]:
arr[0, 0]

0

슬라이싱

In [107]:
arr[:][:]

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [116]:
arr[1:3][:1]

array([[4, 5, 6, 7]])

In [117]:
arr[1:3, :1]

array([[4],
       [8]])

In [118]:
arr[:, 3]

array([ 3,  7, 11])

### __불리언(True/False) 인덱싱__

In [121]:
university = np.array(['seoul', 'korea', 'yonsei', 'pusan', 'kyungpook', 'korea'])

In [137]:
university == 'korea' # boolean array 생성

array([False,  True, False, False, False,  True])

In [141]:
bool_idx = university == 'korea'
print(bool_idx)
print(bool_idx * 1) # True : 1, False : 0

[False  True False False False  True]
[0 1 0 0 0 1]

In [125]:
data = np.array([0, 1, 2, 3, 4, 5])

In [135]:
data[university == 'korea'] # 불리언 인덱싱

array([1, 5])

In [136]:
university[university == 'korea'] # 이렇게 하면 값을 가질 수 있습니다

array(['korea', 'korea'], dtype='<U9')

In [130]:
data[~(university == 'korea')] # ~ : 제외하고

array([0, 2, 3, 4])

In [133]:
data[(university != 'korea')] # != : 같지 않다

array([0, 2, 3, 4])